<div fxLayout="row wrap" style=" padding-left:4%;padding-right: 4%;" class="header_container" fxLayoutAlign="space-between center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true" fxFlex.lt-md="50">
    <div style="margin-left:10px ">
      <img imgSrc="/Web/Icons/logo.jpg" width="60px">
    </div>
    <div fxHide.lt-md="true" style=" border-left: 1px solid #0000000F; height: 60px;margin-left:10px ">
    </div>
    <div fxLayout="row wrap" style="margin-left:10px" fxLayoutAlign="space-around center" [fxShow]="true" fxHide.lt-md="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center" [fxShow]="true">
        <div style="  width:30px;height:30px;background:#218BC4;border-radius:50px;display:flex;justify-content:center;align-items:center;color:#ffff">
          <p>
            1</p>
        </div>
        <div style="padding-left:10px;color:#218BC4">
          Premium Calculation &amp; Quotation</div>
      </div>
      <div style="height:1px;background:#AEB8C7;width:50px;margin-left:9px">
      </div>
      <div fxLayout="row wrap" style="padding-left:10px" fxLayoutAlign="space-around center" [fxShow]="true">
        <div style="  width:30px;height:30px;background:#738194;border-radius:50px;display:flex;justify-content:center;align-items:center;color:#ffff">
          <p>
            2</p>
        </div>
        <div style="padding-left:10px">
          Review &amp; Payment</div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="padding:10px" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true" fxFlex.lt-md="50">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
      <div style="padding-top:2px">
        <mat-icon class="primary_color">error_outline</mat-icon>
      </div>
      <div style="padding-left:5px">
        info</div>
    </div>
    <div fxHide.lt-md="true" style=" border-left: 1px solid #0000000F; height: 60px; ">
    </div>
    <div class="primary_color">
      &#x639;&#x631;&#x628;&#x64A;
    </div>
    <div fxHide.lt-md="true" style=" border-left: 1px solid #0000000F; height: 60px; ">
    </div>
    <div>
      <mat-icon (click)="openModal()">close</mat-icon>
    </div>
  </div>
</div>