/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

:root{
    --primary-color:#218BC4;
    --container-width: 90%; 
    --container-color: #F7F9FA;
    --white-container: #FFFFFF

}

body{
 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 200PX;
}


.primary_color{
    color:  var(--primary-color);;
}
.primary_bg{
    background-color: var(--primary-color);

}

.header_container{
    height:auto;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px gray;
}
.container{
    width: var(--container-width);
}

.insuring{
  position: fixed;
  bottom: 0;
  border-radius:20px 20px 0px 0px ;
        left: 0;
        width: 100%;
        background-color: var( --white-container);
        color: white;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
        z-index: 1000;
        box-shadow: 0px 1px 2px rgb(202, 200, 200);
}

.overlay_black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(0px); /* Apply blur effect */
  z-index: 999;
}

.insurecard{
    width:22%;
    font-weight:500;
    color:#475973;
    font-size: 15px;
}

.check_details_hole{
    position:absolute;
    background:#ffff;
    width:20px;
    height:20px;
    left:0;
    top:0;
    margin:15px;
    border: solid 2px gray;
    border-radius:50px
}
.vertical_div{
      position: absolute;
  background: #ffff;
  width: 100px;
  height: 20px;
  top: 55px;
  right: -15px;
  transform-origin: top right;
  transform: rotate(45deg);
}

.horizontal_div{
    position: absolute;
  background: #ffff;
  width: 100px;
  height: 20px;
  top: 0; /* Position the child div at the top of its parent */
  left: 50%; /* Position the child div at the center horizontally */
    margin-left: -50px; /* Move the child div 50% to the left to center it */
  border-radius: 5px;

}

.mat-form-field {
  /* Targeting all div elements inside mat-form-field */
  div {
    background-color: initial;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}

.dash{
    border-bottom-style: dashed;
border-bottom-width: 2px;
border-bottom-color: #e6e8e6;
width:100%;margin:0;
}


.left_modal{
  position: fixed;
  right:0px; /* Initially hide the modal off-screen */
  top: 0;
  width: 500px;
  height: 100%;
  background-color: #ffff;
  box-shadow: 0 0 10px var(--secondary-color);
  transition: right 0.3s ease; /* Smooth transition for modal movement */
  z-index: 1000;
  overflow: hidden;

}
.center_modal_close{

      position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
//   height: 347px;
  max-width: 90%; /* Ensure modal doesn't exceed 90% of viewport width */
  max-height: 90%; /* Ensure modal doesn't exceed 90% of viewport height */
  background-color:white;
  box-shadow: 0 0 10px var(--secondary-color);
  transition: transform 0.3s ease; /* Smooth transition for modal movement */
  z-index: 1000;
  overflow: hidden;
  padding-top:20px;
  color:#475973;
  border-radius:20px
}

.bottom_modal {
  position: fixed;
 bottom: 0;
  width: 100%;
  background-color: #ffff; 
  box-shadow: 0 0 10px var(--secondary-color);
  transition: transform 0.3s ease; /* Smooth transition for modal movement */
  z-index: 1000;
  opacity: 0; /* Initially hide the div */
    animation: fadeIn .3s ease forwards; /* Apply the fadeIn animation */
    border-radius: 20px 20px 0px 0px ;
    // height:800px;
}
 
.left_hit_ani{
  animation: slideInAndHit .3s ease-out forwards;

}

.horizontal-scroller {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-card {
  position: relative;
  padding-left: 300px;
  padding-top:180px;
  margin-right: 10px; /* Adjust margin between cards */
  background-color: #FFFFFF;
  border-radius: 10px;
  border: solid .2px rgba(190, 185, 185, 0.562);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right:20px
}

/* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
.horizontal-scroller::-webkit-scrollbar {
  display: none;
}


.coverage_basic_btn{
    padding:7px 20px;
    background:#00AEAA;
    color:#00AEAA;
}
.coverage_smart_btn{
    padding:7px 20px;
    background:#19A8D3;
    color:#19A8D3;


}
.coverage_comp_btn{
    padding:7px 20px;
    background:#144185;
    color:#144185;
  
}
.red_cross{
    position:absolute;width:15%;padding:1px;background:#FF0000; transform-origin: top bottom;   transform: rotate(160deg);top:30px
}

.loader {
  width: 100px;
  height: 100px;
//   position: relative;
}
.select-btn{
    padding:0px 20px;border:solid .1px #E7EDF0;border-radius:4px;color:#AEB8C7
}

::ng-deep .mat-form-field.mat-primary {
  background-color: red; /* Example of changing the background color */
}
.loader {
   width: 100px;
      height: 100px;
      border:10px solid #FFF;
      border-radius: 50%;
    //   position: relative;
      transform:rotate(45deg);
      box-sizing: border-box;

    }
    .loader::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      inset:-10px;
      border-radius: 50%;
      border:10px solid #228BC4;
      clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0);
      animation: prixClipFix .5s  linear;
    }
     .loader::after{
           content: "";
      position: absolute;
      box-sizing: border-box;
      inset:-10px;
      border-radius: 50%;
      border:10px solid #228BC4;
      clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0);
      animation: prixClipFix .5s  linear;
     }


.round-button {
 background-color: #F7F9FA; /* Green background */
    border: none; /* Remove borders */
    color: #218BC4; /* White text */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 50px; /* Rounded border */
    width: 50px; /* Button width */
    height: 50px; /* Button height */;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    font-size: 16px;
    top: 322.5px;
    left: 944.922px;
    transform: translateX(-40px) translateY(-15px);
}

.filter_menu{

   margin-left: 44px;
   margin-top: 50px;

    width: 400px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgb(212, 211, 211);
    color: black;
    height: auto;
}



    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
      
      
@keyframes slideInAndHit {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(0%);
  }
  85% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0%);
  }
}
// fade open Animation

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}