/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

:root{
    --primary-color:#218BC4;
    --container-width: 90%; 
    --container-color: #F7F9FA;
    --white-container: #FFFFFF

}

body{
 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 200PX;
}


.primary_color{
    color:  var(--primary-color);;
}
.primary_bg{
    background-color: var(--primary-color);

}

.header_container{
    height:auto;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px gray;
}
.container{
    width: var(--container-width);
}

.insuring{
  position: fixed;
  bottom: 0;
  border-radius:20px 20px 0px 0px ;
        left: 0;
        width: 100%;
        background-color: var( --white-container);
        color: white;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
        z-index: 1000;
}

.overlay_black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(0px); /* Apply blur effect */
  z-index: 999;
}

.insurecard{
    width:22%;
    font-weight:500;
    color:#475973;
    font-size: 15px;
}

.check_details_hole{
    position:absolute;
    background:#ffff;
    width:20px;
    height:20px;
    left:0;
    top:0;
    margin:15px;
    border: solid 2px gray;
    border-radius:50px
}
.vertical_div{
      position: absolute;
  background: #ffff;
  width: 100px;
  height: 20px;
  top: 55px;
  right: -15px;
  transform-origin: top right;
  transform: rotate(45deg);
}


.dash{
    border-bottom-style: dashed;
border-bottom-width: 2px;
border-bottom-color: #e6e8e6;
width:100%;margin:0;
}


.left_modal{
  position: fixed;
  right:0px; /* Initially hide the modal off-screen */
  top: 0;
  width: 500px;
  height: 100%;
  background-color: #ffff;
  box-shadow: 0 0 10px var(--secondary-color);
  transition: right 0.3s ease; /* Smooth transition for modal movement */
  z-index: 1000;
    overflow: hidden;
}

.center_modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%; /* Ensure modal doesn't exceed 90% of viewport width */
  max-height: 90%; /* Ensure modal doesn't exceed 90% of viewport height */
  background-color: var(--container-color);
  box-shadow: 0 0 10px var(--secondary-color);
  transition: transform 0.3s ease; /* Smooth transition for modal movement */
  z-index: 1000;
}
 
.left_hit_ani{
  animation: slideIn 1s forwards, hitEffect 0.2s forwards, moveBack 0.2s 0.2s forwards;
 
}

.horizontal-scroller {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-card {
  position: relative;
  padding-left: 300px;
  padding-top:180px;
  margin-right: 10px; /* Adjust margin between cards */
  background-color: #FFFFFF;
  border-radius: 10px;
  border: solid .2px rgba(190, 185, 185, 0.562);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right:20px
}

/* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
.horizontal-scroller::-webkit-scrollbar {
  display: none;
}

.coverage_basic_btn{
    padding:7px 20px;
    background:#00AEAA;
    color:#00AEAA;
}
.coverage_smart_btn{
    padding:7px 20px;
    background:#19A8D3;
    color:#19A8D3;


}
.coverage_comp_btn{
    padding:7px 20px;
    background:#19A8D3;
    color:#19A8D3;
  
}


@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hitEffect {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes moveBack {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-5px);
  }
}